/* Cambia la dimensione del corpo del testo 
body {
    font-size: 30px; 
}
*/

/* Cambia la dimensione di tutti i titoli H1 
h1 {
    font-size: 2.5rem;
}

html {
  font-size: 30px;  Cambia la base di partenza di tutti i font 
}
*/

/* Cambia la dimensione di tutti i titoli H1 sovrascrivendo Tachyons */
h1, .f1, .f2 {
    font-size: 2.5rem !important;
}

html {
    font-size: 30px !important;
}

