{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height measure-wide center">
    
    <!-- TITOLO DELLA SEZIONE (Mostra il nome della Sezione o il Titolo definito) -->
    <header class="tc mt4 mb4">
      <h1 class="f1 bold-title">
        {{ .Title | default (.Section | humanize) }}
      </h1>
      {{ with .Content }}
        <div class="lh-copy f4 nested-links">
          {{ . }}
        </div>
      {{ end }}
    </header>

    <!-- LOGICA DI ORDINAMENTO -->
    {{ $pages := .Pages }}
    {{ if eq .Section "png" }}
      <!-- Se la sezione è 'png', ordina alfabeticamente per Titolo -->
      {{ $pages = .Pages.ByTitle }}
    {{ end }}

    <!-- ELENCO TESTUALE -->
    <section class="ph3 ph4-m ph5-l">
      <ul class="list pl0 measure-wide center border-box">
        {{ range $pages }}
          <li class="pv3 bb b--white-20 flex flex-column flex-row-ns justify-between items-baseline">
            <a href="{{ .RelPermalink }}" class="link dim f4 fw6">
              {{ .Title }}
            </a>
            {{ if .Date }}
              <span class="f6 opacity-70 mt1 mt0-ns">
                {{ .Date.Format "02/01/2006" }}
              </span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </section>

    <!-- Paginazione -->
    {{ template "_internal/pagination.html" . }}

  </article>
{{ end }}